<div class="px-12 py-10 w-10/12">
<h2 class="text-3xl font-bold text-navy ">{{currentUser.username}}'s' ducky dashboard</h2>   
    {{#each userPosts as |post|}}
    {{> admin-post}}
    {{/each}}
    <a href="/dashboard/new" class="">new post</a>
    {{#if userPosts}}
    <script src="/js/deletePost.js"></script>
    {{/if}}
</div>