
{{!-- TODO - write the template to show all the user's posts on the /dashboard route --}}
{{!-- <h1>This is the dashboard main page that should display all of a users posts</h1> --}}
<h3>your posts</h3>
{{#each userPosts as |post|}}
{{> admin-post}}
{{/each}}
<br>
<a href="/dashboard/new">new post 2</a>
{{#if userPosts}}
<script src="/js/deletePost.js"></script>
{{/if}}