<h2 class="">dashboard</h2>
{{#each userPosts as |post|}}
{{> admin-post}}
{{/each}}
<br>
<a href="/dashboard/new" class="">new post</a>
{{#if userPosts}}
<script src="/js/deletePost.js"></script>
{{/if}}