<h2 class="font-2xl">dashboard</h2>
{{#each userPosts as |post|}}
{{> admin-post}}
{{/each}}
<br>
<a href="/dashboard/new" class="border-solid border-2 rounded-md border-slate-200 hover:border-t-4 hover:font-bold font-semibold text-base">new post</a>
{{#if userPosts}}
<script src="/js/deletePost.js"></script>
{{/if}}