<h2 class="">homepage</h2>
<div>
{{#if pageNumber}}
<h3>page number: {{pageNumber}}</h3>
{{else}}
<h3>page number: 1</h3>
{{/if}}
{{#each (limit allPosts 50) as |post|}}
{{> main-post}}
{{/each}}
</div>
{{#ifGreaterThan pageNumber 1 }}
<button id="previous-page-button" class="">previous page</button>
<script src="/js/previousPage.js"></script>
{{/ifGreaterThan}}
<button id="next-page-button" class="">next page</button>
<script src="/js/nextPage.js"></script>
