<div class="text-center">

<h2 class="font-2xl">login</h2>

<form id="login-form" class="mx-auto">
  <div class="">
    <label for="username-input-login">Username</label>
    <input type="text" id="username-input-login" class="text-slate-800"/>
  </div>
  <div class="">
    <label for="password-input-login" class="form-label">Password</label>
    <input type="password" id="password-input-login" class=""/>
  </div>

  <button type="submit" class="">Login!</button>

  <a type="button" href="/signup" class="">Sign up instead</a>
</form>

</div>
<script src="/js/login.js"></script>
