{{!-- {{#if singlePost}} --}}
{{> single-post}}
{{!-- {{/if}} --}}

<form class="form new-comment-form" data-postId="{{singlePost.id}}">
  <div class="form-group">
    <label for="new-comment-body">new comment</label>
    <textarea class="form-input text-slate-800" id="new-comment-body" name="new-comment-body"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="border-solid border-2 rounded-md border-slate-200 w-1/4 hover:border-t-4 hover:font-bold" data-postId="{{singlePost.id}}">submit comment</button>
  </div>
</form>
</li>

<script src="/js/createComment.js"></script>