<div class="">
<h2 class="">sign Up</h2>
<form id="signup-form" class="card-body">
  <div>
    <label for="username-input-signup">Username</label>
    <input type="text" id="username-input-signup" class=""/>
  </div>
  <div>
    <label for="password-input-signup">Password</label>
    <input type="password" id="password-input-signup" class=""/>
  </div>
  <button type="submit" class="">Signup!</button>
  <a href="/login" class="">Login instead</a>
</form>
</div>

<script src="/js/signup.js"></script>
